body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}

.wrapper-aboutme{
    width: 100%;
    height: 400px;
    position: relative;
}
.wrapper-introduce{
    height: 100%;
    width: 100%; 
}
.introduce{
   width: 100%;
    position: relative;
    
    left: 0;
    background-color: rgb(255, 255, 255);
}
.text-introduce{
    
    
    
}
.text-introduce h2{
    
    font-weight: bold;
    font-size: 1.8em;
}
.text-introduce p{
    
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom : 0.2em;
    color: rgb(141, 141, 141);
}

.introduce-img{
    height: 80%;
    width: 90%;
    
    position: relative;
    top: 0;
    right: 0;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
 .image-introduce-img {
    
    height: 100%;
    
    position: absolute;
    right: -5%;
}
.spac-skill{
    width: 80%;
}
.about-skill{
    height: 400px;
    width: 100%;
    position: relative;
}
.text-skill{
    width: 100%;
   
    
}
.text-skill span{
    font-size: 1.7em;
    text-transform: uppercase;
    padding: 10px 10px 10px 50px;
    border-bottom: 1px solid #000;
    font-weight: bold;
    color: red;
    
}
.text-skill p{
    margin-top: 20px;
    font-size: 1.4em;
}
