body{
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    
}
section{
    
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff;
    overflow: hidden;
    z-index: -5;
}
.bgPulse{
width: 100%;
height: 100%;
}
.bgPulse span{
    position: absolute;
    width: 80px;
    height: 80px;
    background: #000;
    /* animation: anime 5s linear infinite; */
    
}
.bgPulse span:nth-child(2n+1)
{
    background: transparent;
    border: 5px solid #000;
    border-radius: 25%;
    
}
.bgPulse span:nth-child(1)
{
    top: 82%;
    left: 30%;
    animation: anime 7s linear infinite;
}
.bgPulse span:nth-child(2)
{
    top: 40%;
    left: 60%;
    width: 50px;
    height: 50px;
    animation: anime 4s linear infinite;
}
.bgPulse span:nth-child(3)
{
    top: 10%;
    left: 80%;
    animation: anime 5s linear infinite;
}
.bgPulse span:nth-child(4)
{
    top: 94%;
    left: 75%;
    animation: anime 6s linear infinite;
}
.bgPulse span:nth-child(5)
{
    top: 20%;
    left: 10%;
    animation: anime 8s linear infinite;
}
.bgPulse span:nth-child(6)
{
    top: 30%;
    left: 40%;
    width: 0px;
    height: 0px;
    background: none;
    border-top: 70px solid #000;
    border-right: 40px solid transparent;
    border-left: 40px solid transparent;
   
    animation: anime 10s linear infinite;
}
.bgPulse span:nth-child(6)::before
{
    content: "";
    position: absolute;

    top: -65px;
    left: -30px;
    width: 0px;
    height: 0px;
    background: none;
    border-top: 50px solid #fff;
    border-right: 30px solid transparent;
    border-left: 30px solid transparent;
    
    
}
.bgPulse span:nth-child(7)
{
    top: 45%;
    left: 20%;
    animation: anime 2s linear infinite;
}

@keyframes anime {
    0%
    {
        transform:   translateY(0) rotate(70deg);
        background: 
       
    }
    30%
    {
        transform: translateY(-20px) rotate(0deg) ;
      
    }
    60%
    {
        transform: translateY(0px) rotate(-70deg);
       
    }
    100%{
        transform: translateY(0px) rotate(70deg);
    }
}

@media only screen and (max-width: 768px) {
    .bgPulse {
      display: none;
  }