.parallax-window {
  min-height: 400px;
  background: transparent;
}
.parallax-window2 {
  min-height: 400px;
  background: transparent;
}
.parallax-window3 {
  min-height: 400px;
  background: transparent;
}