
body{
  
}
#pinContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .panel {
    height: 100%;
    width: 100%;
    position: absolute;
  }
  .t1{
    background-color: brown;
    color: chartreuse;
  }
  .t2{
    background-color: black;
    color: wheat;
  }